
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$signfluent-black-palette: (
    50: #F9F9F9,
    100: #F2F2F2,
    200: #E8E8E8,
    300: #D8D8D8,
    400: #B4B4B4,
    500: #949494,
    600: #6C6C6C,
    700: #595959,
    800: #3A3A3A,
    900: #1A1A1A,
    contrast: (
        50: #1A1A1A,
        100: #1A1A1A,
        200: #1A1A1A,
        300: #1A1A1A,
        400: #1A1A1A,
        500: #1A1A1A,
        600: #1A1A1A,
        700: #F9F9F9,
        800: #F9F9F9,
        900: #F9F9F9,
    )
);

$signfluent-grey-palette: (
    50: #FBFBFB,
    100: #F6F6F6,
    200: #F1F1F1,
    300: #E4E4E4,
    400: #C2C2C2,
    500: #A4A4A4,
    600: #7A7A7A,
    700: #666666,
    800: #474747,
    900: #252525,
    contrast: (
        50: #1A1A1A,
        100: #1A1A1A,
        200: #1A1A1A,
        300: #1A1A1A,
        400: #1A1A1A,
        500: #1A1A1A,
        600: #1A1A1A,
        700: #F9F9F9,
        800: #F9F9F9,
        900: #F9F9F9,
    )
);



$SignfluentWeb-primary: mat.define-palette($signfluent-black-palette, 900);
$SignfluentWeb-accent: mat.define-palette($signfluent-grey-palette, 500, 400, 700);

// The warn palette is optional (defaults to red).
$SignfluentWeb-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$SignfluentWeb-theme: mat.define-dark-theme((
  color: (
    primary: $SignfluentWeb-primary,
    accent: $SignfluentWeb-accent,
    warn: $SignfluentWeb-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($SignfluentWeb-theme);

/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: Ubuntu, "Helvetica Neue", sans-serif; }
