.topbar {
    justify-content: space-between;
    height: 5vh;
    font-size: smaller;
    position: fixed;
    top: 0;
    z-index: 2;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 15px;
    width: auto;
    cursor: pointer;
}

.right-menu {
    list-style: none;
}

.right-menu li {
    display: inline-block;
}

.right-menu li mat-icon {
    display: inline-block;
    transform: scale(0.7);
    vertical-align: middle;
    margin-bottom: 2.7px;
}

.left-menu-item mat-icon {
    transform: scale(0.8);
    margin-bottom: 2.5px;
}

.dropdown-menu-item {
    display: flex;
    align-items: center;
}

.dropdown-menu-item mat-icon {
    transform: scale(0.8);
    padding-left: 5px;
    margin-right: 0px;
    margin-bottom: 3px;
}
