<mat-toolbar class="topbar mat-elevation-z4" color="primary">

        <div class="left-menu-item">
            <button mat-button [matMenuTriggerFor]="menu">
                Documents
                <mat-icon aria-hidden="false" aria-label="route">
                    keyboard_arrow_down
                </mat-icon>
            </button>
        </div>
        <mat-menu #menu="matMenu">
            <button mat-menu-item class="dropdown-menu-item">
                <span>Documents</span>
                <mat-icon aria-hidden="false" aria-label="documents">description</mat-icon>
            </button>
            <button mat-menu-item class="dropdown-menu-item">
                <span>Process management</span>
                <mat-icon aria-hidden="false" aria-label="documents">manage_accounts</mat-icon>
            </button>
          </mat-menu>

        <img class="logo" src="../../../assets/logo.png">

        <ul class="right-menu">
            <li><button mat-button>Username</button></li>
            <li><button mat-button (click)="openLogoutDialog()">
                    <mat-icon aria-hidden="false" aria-label="logout">
                        logout
                    </mat-icon>
                </button>
            </li>
        </ul>
        
</mat-toolbar>