.footer-container {
    background-color: white;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.copyrights {
    margin-top: 20px;
    text-align: center;
    font-size: small;
}